<div class="modal-header">
	<button type="button" class="close" ng-click="ctrl.closeModal()">&times;</button>
	<h4 class="modal-title">Amending <span ng-show="ctrl.isGlobal">the Article</span><span ng-show="!ctrl.isGlobal" title="{{ctrl.selectionText}}">"{{ctrl.cutSelectionText}}"</span></h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" ng-submit="ctrl.save()">
		<div class="form-group">
			<label class="col-sm-2 control-label">Content:</label>
			<div class="col-sm-10">
				<textarea ng-readonly="ctrl.isReadonly" class="form-control" style="max-width:400px;" ng-model="ctrl.content" required maxlength="200"></textarea>
			</div>
		</div>
		<button class="btn btn-warning" type="button" ng-click="ctrl.closeModal()">Close</button>
		<button class="btn btn-success" type="submit" ng-show="!ctrl.isReadonly">Submit</button>
	</form>
</div>