<div class="modal-header">
    <button type="button" class="close" ng-click="ctrl.closeModal()">&times;</button>
    <h4 class="modal-title">Reset Password</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" ng-submit="ctrl.resetPassword()">		
        <div class="form-group">
            <label class="col-xs-12 col-sm-2 control-label">Email:</label>
            <div class="col-xs-12 col-sm-10">
                <input class="form-control" type="email" ng-model="ctrl.email" required maxlength="50" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-xs-12 col-sm-2 control-label">Confirm Email:</label>
            <div class="col-xs-12 col-sm-10">
                <input class="form-control" type="email" ng-model="ctrl.confirmedEmail" required maxlength="50" />
                <span ng-show="ctrl.email != ctrl.confirmedEmail" class="text-danger">Emails are not equal</span>
            </div>
        </div>
        
        <loading msg="msg" sending="sending" is-error="isError"></loading>
                
        <button class="btn btn-warning" type="button" ng-click="ctrl.closeModal()">Close</button>
        <button class="btn btn-success" type="submit" ng-disabled="ctrl.sending || ctrl.email != ctrl.confirmedEmail">Reset</button>
    </form>
</div>
