<breadcrumb links="'Home:app|Complaints'"></breadcrumb>

<ul class="nav nav-tabs">
	<li><a ui-sref="app.articleinfo">Articles</a></li>
	<li><a ui-sref="app.properties">Properties</a></li>
	<li><a ui-sref="app.commentinfo">Comments</a></li>
	<li><a ui-sref="app.estimateinfo">Estimates</a></li>
	<li ng-show="ctrl.hasAdminStatus()"><a ui-sref="app.userinfo">Users</a></li>
	<li class="active" ng-show="ctrl.hasAdminStatus()"><a ui-sref="app.complaintinfo">Complaints</a></li>
</ul>

<div class="tab-content">
	<div id="users" class="active tab-pane fade in">
		<div class="container">
			<br />

			<div class="row">
				<div class="col-xs-12 col-sm-8">
					<div class="panel panel-info">
						<div class="panel-heading pointer" data-target="#filters" data-toggle="collapse">
							<label class="panel-title">Filters</label>
						</div>
						<div class="panel-body fade collapse" id="filters">
							<form class="form-inline" ng-submit="ctrl.filterComplaints()">
								<div class="form-group input-group">
									<span class="input-group-addon glyphicon glyphicon-search"></span>
									<input type="search" class="input-sm" ng-model="ctrl.query.text" placeholder="Text" />
									<input type="search" class="input-sm" ng-model="ctrl.query.author" placeholder="Author" />
									<input type="search" class="input-sm" ng-model="ctrl.query.assignedTo" placeholder="Assigned To" />
								</div>
								<div class="form-group input-group">
									<span title="Creation date period" class="input-group-addon glyphicon glyphicon-calendar"></span>
									<input type="date" class="input-sm" ng-model="ctrl.query.dateStart" />
									<input type="date" class="input-sm" ng-model="ctrl.query.dateEnd" />
								</div>
								<div class="form-group input-group">
									<span title="Status & Entity Type" class="input-group-addon glyphicon glyphicon-stats"></span>
									<select class="input-sm" ng-model="ctrl.query.status" placeholder="Status">
										<option value="" selected>-</option>
										<option ng-repeat="s in ctrl.statuses" value="{{s}}">{{ctrl.getComplaintStatusCaption(s)}}</option>
									</select>
									<select class="input-sm" ng-model="ctrl.query.entityType" placeholder="Entity Type">
										<option value="" selected>-</option>
										<option ng-repeat="t in ctrl.entityTypes" value="{{t}}">{{ctrl.getEntityTypeCaption(t)}}</option>
									</select>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-success">Search</button>
                                </div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-12 col-sm-10 btn-group btn-group-sm">
						<button ng-disabled="ctrl.sending || !ctrl.selectedComplaint || !ctrl.isComplaintCreated() || ctrl.selectedComplaint.assignedToId !== ctrl.userInfo.id" title="Approve the comlaint" type="button" class="btn btn-default" ng-click="ctrl.approveComplaint()">
							<span class="glyphicon glyphicon-ok-circle"></span>
						</button>
						<button ng-disabled="ctrl.sending || !ctrl.selectedComplaint || !ctrl.isComplaintCreated() || ctrl.selectedComplaint.assignedToId !== ctrl.userInfo.id" title="Refuse the complaint" type="button" class="btn btn-default" ng-click="ctrl.refuseComplaint()">
							<span class="glyphicon glyphicon-ban-circle"></span>
						</button>
						<button ng-disabled="ctrl.sending || !ctrl.selectedComplaint || !ctrl.isComplaintCreated() || ctrl.selectedComplaint.assignedToId || ctrl.isUserRelatedToIssue()" title="Assign to me" type="button" ng-click="ctrl.assignComplaint()" class="btn btn-default">
							<span class="glyphicon glyphicon-check"></span>
						</button>
						<button ng-disabled="ctrl.sending || !ctrl.selectedComplaint || ctrl.selectedComplaint.assignedToId !== ctrl.userInfo.id" title="Withdraw from my assignments" ng-click="ctrl.unassignComplaint()" type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-share"></span>
						</button>
					</div>
					<div class="col-xs-12 col-sm-8">
						<table class="table table-hover table-striped" ng-disabled="ctrl.sending">
							<tr>
								<th>#</th>
								<th><sort-btn name="'Text'" col-index="5" cur-col-index="ctrl.query.colIndex" asc="ctrl.query.asc" fn-click="ctrl.sortComplaints"></sort-btn></th>
								<th><sort-btn name="'Date'" col-index="7" cur-col-index="ctrl.query.colIndex" asc="ctrl.query.asc" fn-click="ctrl.sortComplaints"></sort-btn></th>
								<th><sort-btn name="'Entity'" col-index="6" cur-col-index="ctrl.query.colIndex" asc="ctrl.query.asc" fn-click="ctrl.sortComplaints"></sort-btn></th>
								<th><sort-btn name="'Author'" col-index="1" cur-col-index="ctrl.query.colIndex" asc="ctrl.query.asc" fn-click="ctrl.sortComplaints"></sort-btn></th>
								<th><sort-btn name="'Assigned to'" col-index="3" cur-col-index="ctrl.query.colIndex" asc="ctrl.query.asc" fn-click="ctrl.sortComplaints"></sort-btn></th>
								<th><sort-btn name="'State'" col-index="4" cur-col-index="ctrl.query.colIndex" asc="ctrl.query.asc" fn-click="ctrl.sortComplaints"></sort-btn></th>
							</tr>
							<tr ng-repeat="c in ctrl.complaints" ng-class="{'text-primary': ctrl.selectedComplaint.id === c.id}" ng-click="ctrl.selectComplaint(c)">
								<td>{{$index + 1}}</td>
								<td><limited-val value="c.text" length="50"></limited-val></td>
								<td>{{c.insertDate|date:'medium'}}</td>
								<td>{{c.userCommentId ? 'Comment #' + c.userCommentId: 'Article "' + ctrl.getArticleName(c.articleId) + '"'}}</td>
								<td>{{ctrl.getUserName(c.authorId)}}</td>
								<td>{{ctrl.getUserName(c.assignedToId)}}</td>
								<td>{{ctrl.getComplaintStatusCaption(c.status)}}</td></tr>
						</table>
						<pagination pages="ctrl.pages" cur-page="ctrl.query.page" fn-next-page="ctrl.goToPage"></pagination>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="panel panel-info" ng-show="ctrl.selectedComplaint">
							<div class="panel-heading pointer" data-toggle="collapse" data-target="#complaintInfo">
								<span class="panel-title">Additional Information</span>
							</div>
							<div style="overflow:hidden;" class="panel-body fade in" id="complaintInfo">
								<ul>
									<li ng-show="ctrl.selectedComplaint.userCommentId"><strong>Comment #{{ctrl.selectedComplaint.userCommentId}}: <span class="text-info" ng-bind-html="ctrl.getCommentContent()"></span></strong></li>
									<li ng-show="ctrl.selectedComplaint.articleId"><strong>Article: </strong><a ui-sref="app.articleview({id:ctrl.selectedComplaint.articleId})">{{ctrl.getArticleName()}}</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<loading msg="ctrl.msg" ctrl.sending="ctrl.sending" is-error="ctrl.isError"></loading>
	</div>
</div>